/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Header =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.header {
  background-color: var(--primary);
  box-shadow: 0 0 0.5rem 0 hsla(45, 8%, 10%, 0.9);
}

.nav {
  text-align: center;
  padding-block: 1rem;
  padding-inline: 2rem;
}

.nav__logo {
  color: var(--dark);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.nav__logo > span {
  color: var(--light);
  font-weight: var(--fw-light);
}

.nav__links {
  display: none;
}

.social__link {
  color: var(--light);
  font-size: var(--fs-600);
}

.social__link:hover,
.social__link:active {
  /* TODO */
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Main =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.main {
  background-image: url("../img/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Hero =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.hero,
.testimonial {
  padding-block: 5rem;
  padding-inline: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  max-width: 40rem;
}

.hero__title {
  font-size: var(--fs-700);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero__description {
  margin-bottom: 2rem;
}

.hero__button {
  background-color: var(--accent);
  color: var(--light);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Testimonial =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.testimonial__content {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.testimonial__quote {
  font-size: var(--fs-500);
  text-align: end;
  margin-bottom: 2rem;
  position: relative;
}

.testimonial__quote::before {
  content: url("../img/quote.svg"); /* TODO: CHANGE COLOR */
  opacity: 0.25;
  position: absolute;
  top: -2.5rem;
  transform: rotate(5deg);
}

.testimonial__quote::after {
  content: url("../img/quote.svg");
  aspect-ratio: 1/1;
  opacity: 0.25;
  position: absolute;
  bottom: -2.5rem;
  right: -0.5rem;
  transform: rotate(-175deg);
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user__image {
  background-color: var(--light);
  border-radius: 50%;
  border: 0.25rem solid var(--dark);
  width: 4.5rem;
  aspect-ratio: 1/1;
}

.user__name {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.user__role {
  font-size: var(--fs-200);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Footer =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.footer {
  background-color: var(--primary);
  color: var(--light);
  text-align: center;
  padding: 2rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: var(--dark);
  font-size: var(--fs-500);
  margin-bottom: 1rem;
}

.footer__description,
.footer__info {
  font-size: var(--fs-200);
  opacity: 0.75;
}

.footer__description {
  margin-bottom: 1rem;
}

.form__input {
  border: 0;
  outline: 0;
  border-radius: 0.25rem;
  font-size: var(--fs-400);
  width: 100%;
  padding-block: 1rem;
  padding-inline: 2rem;
  margin-bottom: 1rem;
}

.form__input:hover {
  /* TODO */
}

.form__input:focus {
  /* TODO */
}

.form__button {
  background-color: var(--accent);
  color: var(--light);
}

.footer__info {
  margin-top: 1rem;
}

/* =-=-=-=-=-=-=-=-=-=-=-= Mobile Social Links =-=-=-=-=-=-=-=-=-=-=-= */

.mobile-social-menu {
  position: fixed;
  inset: auto 1rem 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mobile-social-nav {
  background-color: var(--dark);
  border-radius: 0.25rem;
  padding: 2rem;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform ease 200ms, opacity ease 200ms;
}

.social-menu-open {
  opacity: 1;
  pointer-events: auto;
  transform: scale(100%);
}

.mobile-social-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobile-link {
  color: var(--light);
  font-size: var(--fs-600);
}

.mobile-link:hover {
  /* TODO */
}

.mobile-link:active {
  /* TODO */
}

.mobile-social-button {
  background-color: var(--dark);
  color: var(--light);
  border: 0;
  border-radius: 50%;
  font-size: var(--fs-600);
  min-width: 6rem;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 1.25rem;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem 0 hsla(45, 8%, 10%, 0.5);
}

.mobile-social-button:active {
  /* TODO */
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Media Queries =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media screen and (min-width: 960px) {
  /* =-=-=-=-= Header =-=-=-=-= */
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__logo {
    margin-left: 2rem;
  }

  .nav__links {
    margin-right: 2rem;
    display: flex;
    gap: 2rem;
  }

  /* =-=-=-=-= Main =-=-=-=-= */
  .main {
    flex-direction: row;
  }

  .hero,
  .testimonial {
    width: 50vw;
    height: 60vh;
  }

  /* =-=-=-=-= Footer =-=-=-=-= */

  .form {
    display: flex;
  }

  .form__input {
    border-radius: 0.25rem 0 0 0.25rem;
    width: 40vw;
    max-width: 60rem;
    margin-bottom: 0;
  }

  .form__button {
    border-radius: 0 0.25rem 0.25rem 0;
  }

  .footer__info {
    text-align: end;
  }

  /* =-=-=-=-= Mobile social menu =-=-=-=-= */
  .mobile-social-menu {
    display: none;
  }
}
