/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Import =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= General =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

:root {
  /* Font-Family */
  --ff-regular: "Rubik", sans-serif;

  /* Font-Size */
  --fs-700: 4rem;
  --fs-600: 2.8rem;
  --fs-500: 2.4rem;
  --fs-400: 1.8rem;
  --fs-300: 1.6rem;
  --fs-200: 1.4rem;

  /* Font-Weight */
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 200;

  /* Colors */
  --primary: #089191;
  --secondary: #d5fbda;
  --accent: #ea5d76;
  --dark: #01161e;
  --light: #ffffff;
}

html {
  /* Set the base rem to (MIN, IDEAL, MAX), when MIN is equivalent to 10px. */
  /* The IDEAL value is based on vh on mobile version. */
  font-size: clamp(62.5%, 1vh, 75%);
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: var(--ff-regular);
  font-size: var(--fs-300); /* Set the MIN font-size to default 16px */
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body,
h1,
h2,
p,
blockquote {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input {
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

/* Remove the inner border added when using keyboard navigation on firefox. */
::-moz-focus-inner {
  border: 0;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Components =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.button {
  border-radius: 0.25rem;
  border: 0;
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  padding-block: 1rem;
  padding-inline: 1.5rem;
  cursor: pointer;
  transition: color ease-in-out 100ms;
}

.button:hover {
  color: var(--dark);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Header =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.header {
  background-color: var(--primary);
  box-shadow: 0 0 0.5rem 0 hsla(45, 8%, 10%, 0.9);
}

.nav {
  text-align: center;
  padding-block: 1rem;
  padding-inline: 2rem;
}

.nav__logo {
  color: var(--dark);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.nav__logo > span {
  color: var(--light);
  font-weight: var(--fw-light);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Media Queries =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media screen and (min-width: 960px) {
  html {
    /* Change the IDEAL value to be based on vw of the page on widescreen devices. */
    font-size: clamp(62.5%, 0.75vw, 75%);
  }
}
