/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Import =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= General =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

:root {
  /* Font-Family */
  --ff-regular: "Rubik", sans-serif;

  /* Font-Size */
  --fs-700: 4.2rem;
  --fs-600: 2.8rem;
  --fs-500: 2.4rem;
  --fs-400: 1.8rem;
  --fs-300: 1.6rem;
  --fs-200: 1.4rem;

  /* Font-Weight */
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 200;

  /* Colors */
  --black: #1b1a17;
  --white: #f6f6f6;
}

html {
  /* Set the base rem to (MIN, IDEAL, MAX), when MIN is equivalent to 10px. */
  font-size: clamp(62.5%, 1vw, 75%);
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  font-family: var(--ff-regular);
  font-size: var(--fs-300); /* Set the MIN font-size to default 16px */
  line-height: 1.5;
  min-height: 100vh;
}

body,
h1,
h2,
p,
blockquote {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Components =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.hidden {
  display: none;
}

.button {
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.25em;
  border: 0;
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  padding-block: 0.5em;
  padding-inline: 1.25em;
  cursor: pointer;
  transition: opacity ease-in-out 150ms;
}

.button:hover,
.button:focus {
  opacity: 0.85;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Header =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.header {
  background-color: var(--black);
  box-shadow: 0 0 0.5rem 0 hsla(45, 8%, 10%, 0.8);
}

.nav {
  padding: 2rem;
}

.nav__logo {
  color: var(--white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

.nav__logo > span {
  font-weight: var(--fw-light);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Main =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.main {
  display: flex;
  flex-direction: column;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Hero =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.hero {
  background-image: url(); /* Hero background image */
  background-color: rgba(182, 182, 182, 0.5); /* Temporary background*/
  padding-block: 5rem;
  padding-inline: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  max-width: 40rem;
}

.hero__title {
  font-size: var(--fs-700);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero__description {
  margin-bottom: 2rem;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Testimonial =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.testimonial {
  background-color: rgba(93, 93, 93, 0.5); /* Temporary background*/
  padding-block: 5rem;
  padding-inline: 2rem;

  display: flex;
  justify-content: center;
}

.testimonial__content {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.testimonial__quote {
  text-align: end;
  font-size: var(--fs-500);
  margin-bottom: 2rem;
  position: relative;
}

.testimonial__quote::before {
  content: "\1F676";
  font-size: var(--fs-600);
  opacity: 0.6;
  position: absolute;
  top: -2rem;
}

.testimonial__quote::after {
  content: "\1F677";
  font-size: var(--fs-600);
  opacity: 0.6;
  position: absolute;
  bottom: -3.25rem;
  right: 0;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user__image {
  background-color: var(--white);
  border-radius: 50%;
  border: 0.25rem solid var(--black);
  width: 5rem;
  aspect-ratio: 1/1;
}

.user__name {
  font-size: var(--fs-300);
}

.user__role {
  font-size: var(--fs-200);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Footer =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.footer {
  padding-block: 3rem;
  padding-inline: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer__title {
  font-size: var(--fs-500);
  margin-bottom: 1rem;
}

.footer__description {
  display: block;
  font-size: var(--fs-200);
  margin-bottom: 1rem;
  opacity: 0.6;
}

.lead-form__input {
  background-color: rgba(173, 173, 173, 0.5); /* Temporary background*/
  border: 0;
  border-radius: 0.5rem;
  outline: 0.1rem solid var(--black);
  font-size: var(--fs-400);
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-bottom: 1rem;
  transition: outline ease-out 150ms;
}

.lead-form__input:hover,
.lead-form__input:focus {
  outline: 0.25rem solid var(--black);
}

.lead-form__button {
  justify-self: center;
}

.lead-form__info {
  display: block;
  padding-top: 1rem;
  opacity: 0.6;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Media Queries =-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* @media screen and (min-width: 500px) {
  .lead-form__input {
    max-width: 60vw;
  }
} */

@media screen and (min-width: 1024px) {
  .nav {
    padding: 1rem;
  }

  .main {
    flex-direction: row;
  }

  .hero,
  .testimonial {
    width: 50vw;
  }

  .footer {
    padding-block: 5rem;
  }

  .lead-form {
    display: grid;
    /* To finish, form layout */
  }
}
